header {
    @apply bg-gray-900 border-b-2 border-gray-700 fixed top-0 left-0 w-full flex sm:px-2 z-40;

    nav {
        @apply hidden xs:flex flex-auto z-20;

        @media (max-width: 425px) {
            &.open {
                @apply flex transition-all duration-700 top-[2.6rem] w-48 h-full bg-gray-900 flex-col fixed;
            }
        }

        a {
            @apply text-center;
        }

        .lazy-developer {
            @apply xs:hidden;
        }
    }
    #mobile-nav {
        @apply xs:hidden flex flex-auto;
        a {
            @apply pr-3;
        }
    }
    a {
        @apply p-2 xs:border-l xs:border-r border-gray-800 text-slate-400;

        &.active {
            @apply text-white;
        }
        &:hover:not(.active) {
            @apply xs:bg-slate-800 text-white;
        }
    }
    #search {
        @apply p-2 sm:border-l sm:border-r sm:border-gray-800 text-slate-400 text-sm;

        input {
            @apply text-gray-900 placeholder-slate-400 px-2 bg-white border focus:ring-1 focus:outline-none focus:border-fuchsia-500 focus:ring-fuchsia-500 rounded-sm;
        }
    }
}
.menu-bg {
    @apply xs:hidden;
}
@media (max-width: 425px) {
    .menu-bg {
        @apply fixed inset-0 bg-gray-900 opacity-90 top-[2.6rem] left-48;
    }

    .menu-open {
        @apply overflow-hidden;
    }
}

footer {
    @apply text-sm sm:fixed bottom-0 left-0 bg-slate-900 border-t-2 border-gray-800 sm:pr-2 pl-2 w-full flex;

    .author {
        @apply grow flex items-center py-2 xs:p-0;
        div {
            @apply mx-auto xs:ml-0;
        }
        //a {
        //    @apply block xs:inline;
        //}
    }
    .more {
        @apply hidden xs:flex items-center;

        a {
            @apply px-2 border-l border-r border-gray-800 text-slate-400 flex h-full items-center;

            &:hover {
                @apply bg-slate-800 text-white;
            }
            i {
                @apply mr-1;
            }
        }
    }

    .netcup {
        @apply max-h-10 hover:bg-slate-800 inline-table px-2 border-0;

        img {
            @apply max-h-8;
        }

        @media (max-width: 768px) {
            img {
                @apply  brightness-125;
            }
        }

        &:hover {
            img {
                @apply brightness-200;
            }
        }
    }
}
